@import url("https://cdn.jsdelivr.net/npm/@alwatr/font@1.2.0/sahel.min.css");

@use "./base.scss";

// put your custom CSS here!

html {
  font-family: Vazirmatn, sans-serif;
}

.breadcrumb-element p {
  margin: 0 0.5rem 0 0;
  padding: 0;
  line-height: normal;
}

button#explorer .fold {
  opacity: 0.8;
  margin-left: 0;
  margin-right: 0.5rem;
  transition: transform 0.3s;
}

.content-meta[show-comma="true"] > span:not(:last-child) {
  margin-left: 8px;
  margin-right: 0;
}

.tags {
  padding-left: 0;
  padding-right: 0;
}

.folder-icon {
  margin-right: 0;
  margin-left: 5px;
}

#explorer-content ul {
  padding-right: 0.7rem;
  padding-left: 0;
}

#toc-content .depth-1 {
  padding: 0;
  padding-right: 1rem;
}

#toc-content .depth-2 {
  padding: 0;
  padding-right: 2rem;
}

#toc-content .depth-3 {
  padding: 0;
  padding-right: 3rem;
}

li:has(> .folder-outer:not(.open)) > .folder-container > svg {
  transform: rotate(90deg);
}

div.search.mobile-only {
  padding-right: 10px;
}

code {
  direction: ltr;
}

h2#footnote-label {
  visibility: hidden;
}

h2#footnote-label::after {
  content: "پانوشت‌ها";
  visibility: visible;
  display: block;
}

blockquote {
  border-right: 3px solid var(--secondary);
  border-left: none;
  margin: 1rem 0;
  padding-right: 1rem;
  transition: border-color 0.2s;
}

body {
  font-family: "Sahel", "Vazirmatn", "Tahoma", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Sahel", "Vazirmatn", "Tahoma", sans-serif;
}
